.DS_Store
**/node_modules
visgenome-backend/public/files/assembly/hg38/*
visgenome-backend/public/files/assembly/mm39/*
visgenome-backend/public/files/assembly/saccer3/*
visgenome-backend/public/files/tracks/hg38/*
visgenome-backend/public/files/tracks/mm39/*
visgenome-backend/public/files/tracks/saccer3/*
visgenome-backend/public/files/values/hg38/*
visgenome-backend/public/files/values/mm39/*
visgenome-backend/public/files/values/saccer3/*
visgenome-backend/public/circos/hg38/*
visgenome-backend/public/circos/mm39/*
visgenome-backend/public/circos/saccer3/*
visgenome-backend/public/files/downloads/*
visgenome-frontend/dist
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
**/.idea
**/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
